<div class="wrapper">
  <div class="container">
    <h1><a routerLink="/">Home</a></h1>
    <div>
      <p>
        Hello, dear human strange and lost, if you landed on this page is
        because you have successfully completed the form or any other exercise,
        so I must congratulate you with the appropriate welcome. Take this as
        your part of learning. <br />
        <br />
      </p>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <!-- </div> -->
</div>
