<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      (copy)="catch()"
      (click)="homeOrLogin()"
      routerLink=""
      ><strong style="font-size: 25px; color: #df001a; font-weight: 600"
        >Shubh's Cake Shop</strong
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isloggedin" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="isloggedin"
            (click)="logout()"
            routerLink="/login"
            >Logout</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isloggedin" routerLink="/checkout/myorder"
            >My Orders</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" tabindex="-1">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin" tabindex="-1">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showCart()" tabindex="-1"
            >Cart{{ cartSize }}</a
          >
        </li>
        <li>
          <div *ngIf="isloggedin">
            <form class="d-flex">
              <!-- [(ngModel)]  is used to take data from user -->
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="search"
                [(ngModel)]="SearchText"
              />
              <button
                (click)="clickSearch()"
                class="btn btn-outline-success"
                type="submit"
              >
                Search
              </button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
