<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#FFF"
  type="ball-scale-multiple"
>
  <p
    style="
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
      font-size: 20px;
      color: white;
    "
  >
    Getting Data
  </p>
</ngx-spinner>

<!-- Main Html -->
<section class="h-100 h-custom" style="background-color: #d2c9ff">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{ cartSize }} Products</h6>
                  </div>
                  <hr class="my-4" />
                  <div *ngIf="!size">
                    <h3 style="text-align: center; color: red">
                      Cart is Empty
                    </h3>
                  </div>
                  <div
                    class="row mb-4 d-flex justify-content-between align-items-center"
                    *ngFor="let each of cake"
                  >
                    <!-- <div *ngIf="each.quantity"> -->
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        [src]="each.image"
                        class="img-fluid rounded-3"
                        alt="Cotton T-shirt"
                      />
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <!-- <h6 class="text-muted">Shirt</h6> -->
                      <h6 class="text-black mb-0">{{ each.name }}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button
                        class="btn btn-link px-2"
                        (click)="decreaseItemCount(each.cakeid)"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      >
                        -
                      </button>

                      <input
                        id="form1"
                        min="0"
                        name="quantity"
                        value="{{ each.quantity }}"
                        type="number"
                        style="width: 30px"
                      />

                      <button
                        class="btn btn-link px-2"
                        (click)="increaseItemCount(each)"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      >
                        +
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">&#8377; {{ each.price }}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"
                        ><i class="fas fa-times"></i
                      ></a>
                      <button
                        type="button"
                        class="btn btn-light"
                        (click)="deleteItem(each.cakeid)"
                      >
                        Delete
                      </button>
                    </div>
                    <hr class="my-4" />
                  </div>

                  <hr class="my-4" />

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a
                        style="cursor: pointer"
                        (click)="backtohome()"
                        class="text-body"
                        ><i class="fas fa-long-arrow-alt-left me-2"></i>Back to
                        shop</a
                      >
                    </h6>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Total Pricing</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items &#215; {{ quantity }}</h5>
                    <h5>{{ price }}</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select
                      class="select"
                      name="delivery"
                      [(ngModel)]="delivery"
                      id="delivery"
                    >
                      <option value="1">Standard-Delivery- 00Rs</option>
                      <option value="2">Fast Delivery - 100Rs</option>
                      <option value="3">Schedule Delivery -50Rs</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Examplea2"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Examplea2"
                        >Enter your code</label
                      >
                    </div>
                  </div>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>{{ price }}</h5>
                  </div>

                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark"
                    routerLink="/checkout"
                    (click)="checkout()"
                  >
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
