<h1 style="text-align: center">Admin</h1>
<form class="login" (submit)="onSubmit()" [formGroup]="loginForm">
  <input
    formControlName="email"
    class="form-control"
    placeholder="Email"
    [(ngModel)]="email"
    name="email"
  />

  <div
    class="errormessage"
    *ngIf="submitted && loginForm.controls?.['email']?.['errors']"
  >
    <label *ngIf="loginForm.controls?.['email']?.['errors']?.['required']"
      >Email is Required</label
    >
    <label *ngIf="loginForm.controls?.['email']?.['errors']?.['email']"
      >Email is Invalid</label
    >
  </div>
  <input
    type="password"
    formControlName="password"
    class="form-control"
    placeholder="Password"
    [(ngModel)]="password"
    name="password"
    appHighlight
  />
  <div
    class="errormessage"
    *ngIf="submitted && loginForm.controls?.['password']?.['errors']"
  >
    <label *ngIf="loginForm.controls?.['password']?.['errors']?.['required']"
      >Password is Required</label
    >
  </div>
  <button>Login</button>
</form>
